.blog-creation{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
}

form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 1rem;
}

#image{
    font-size: 1rem;
}

input,textarea{
    padding: 1rem;
    margin: 1rem;
}