.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

form{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

input{
    padding: 1rem;
    margin: 1rem;
}