.Navbar {
    padding: 0.6em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.Navbar a,
.Navbar button {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 500;
    border: none;
    background: none;
}

.toggle {
    position: relative;
    width: 60px;
    height: 34px;
}

.toggleBtn {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleBtnLabel {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color .4s;
    border-radius: 34px;
}

.toggleBtnLabel:before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 26px;
    height: 26px;
    background-color: white;
    transition: transform .4s;
    border-radius: 50%;
}

.toggleBtn:checked+.toggleBtnLabel {
    background-color: #2196F3;
}

.toggleBtn:checked+.toggleBtnLabel:before {
    transform: translateX(26px);
}

.fa-moon,
.fa-sun {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.4s ease;
}

.fa-moon {
    left: 10px;
}

.fa-sun {
    right: 10px;
    color: #f1c40f;
}

.dark-theme .fa-sun {
    opacity: 0;
}

.toggleBtn:checked~.fa-sun {
    color: #fff;
    opacity: 0;
}

.toggleBtn:checked~.fa-moon {
    color: #f39c12;
}